# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [ ]:
x = 3
y = 4.5
z = "8"
a = "12"
b = "46.8"
newx = float(x)
newy = int(y)
newz = int (z)
newa = float(a)
newb = int(float(b))

print(type(newx))
print(type(newy))
print(type(newz))
print(type(newa))
print(type(newb))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [11]:
ali = 20
ahmet= 8
mehmet= 12

if ali > ahmet and ali > mehmet:
    print("Ali En büyük")
elif ahmet > ali and ahmet > mehmet:
    print("Ahmet en büyük")
elif mehmet > ali and mehmet > ahmet:
    print("Mehmet en büyük")

Ali En büyük

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [13]:
sayi1 = int(input("Birinci sayıyı giriniz: "))
sayi2 = int(input("Ikinci sayiyi giriniz: "))
toplam = sayi1 + sayi2
if sayi1 > sayi2:
    fark = sayi1 - sayi2
else:
    fark = sayi2 - sayi1

carpim = sayi1 * sayi2
if sayi2 != 0:
    bolme = sayi1 / sayi2
else:
    bolme = "Bolen sayi 0 olamaz!"

print(f"Toplam : {toplam} , Fark: {fark}, Carpim : {carpim}, Bolme: {bolme}")

Toplam : 46 , Fark: 42, Carpim : 88, Bolme: 22.0

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [14]:
isim = input("Lutfen adinizi giriniz: ")
yas = int(input("Lutfen yasinizi giriniz: "))
sehir = input("Lutfen sehrinizi yaziniz: ")
meslek = input("Lutfen mesleginizi yaziniz: ")

print(f"Adiniz: {isim} , Yasiniz: {yas}, Sehir: {sehir}, Meslek: {meslek}")

Adiniz: Ozge , Yasiniz: 20, Sehir: tekirdag, Meslek: muhendis

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [15]:
metin = "Hi-Kod Veri Bilimi Atölyesi"
kelimeler = metin.split()
print(kelimeler)

buyukharf = metin.upper()
print(buyukharf)

kucukharf = metin.lower()
print(kucukharf)

sayi = "0123456789"
cift = sayi[::2]
tek = sayi[1::2]
print(cift)
print(tek)

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
HI-KOD VERI BILIMI ATÖLYESI
hi-kod veri bilimi atölyesi
02468
13579